html {
  background-color: #1C2023;
}

<style type="text/css">
    body {
        overflow-y: hidden;
    }
</style>

html, body, .container {
  height: 100%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;;

}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.box {
  margin: 10px;
  width: 250px;
}

.content {
  display: none;
}

p {
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-family: 'Nerd Font', mononoki;
}

a {
  text-decoration: none;
  color: inherit;
}

.category p {
  color: #95A3AB;
  font-size: 24px;
}

.content p {
  color: #FFFFFF;
  background-color: rgba(102,102,102,.3);
  font-size: 18px;
}

.content p:hover {
  color: #B16161;
}

.word-border:hover {
  border-left: 2px solid #B16161;
  border-right: 2px solid #B16161;
  padding: 0px 5px 0px 5px;
}

.searchbox {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 40px;
}

.searchbox input {
  text-align: center;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #B16161;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 32px;
  font-family: 'Nerd Font', mononoki;
}

.searchbox input::-webkit-input-placeholder{
  color: #95A3AB;
  font-family: 'Nerd Font', mononoki;
}


input:focus {
  outline: none;
  border-bottom: 2px solid #96B5B4;
}

#clock {
  display: flex;
  justify-content: center;
  color: #95A3AB;
  font-family: 'Nerd Font', mononoki;
  font-size: 24px;
  margin: 10px;
}
